{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "jest"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "google"
  ],
  "root": true,
  "rules": {
    "max-len": ["error", {"code": 120, "ignoreComments": true}],
    "semi": ["error", "never"],
    "no-trailing-spaces":["error", { "skipBlankLines": true }],
    "valid-jsdoc": ["error", {"requireParamType": false, "requireReturnType": false}],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_" }]
  }
}