name: Action > Build

on:
  push:
    branches: ['**']
    paths:
      - action/**
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: &working-directory action
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: *working-directory
          sparse-checkout-cone-mode: false

      # build the action
      - uses: jdx/mise-action@v3
        with:
          working_directory: *working-directory

      - run: npm ci
      - run: npm run test
      - run: npm run build

      # Verify that the dist/ is up-to-date
      - name: Verify Action release
        if: github.ref == 'refs/heads/main'
        run: |
          git_diff="$(git diff --ignore-cr-at-eol dist/)"
          if [ -n "$git_diff" ]; then
            echo "::error::Drift detected in dist/ directory"
            echo "$git_diff"
            exit 1
          fi
