name: Action > Build

on:
  push:
    branches: ['**']
    paths:
      - action/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: action
    steps:
      - uses: actions/checkout@v4
        with:
          sparse-checkout: action
          sparse-checkout-cone-mode: false

      # build the action
      - uses: actions/setup-node@v4
        with:
          cache-dependency-path: action/package-lock.json
          node-version: '20'
          cache: 'npm'

      - run: npm ci
      - run: npm run test
      - run: npm run build

      # Verify that the dist/ is up-to-date
      - name: Verify Action release
        if: github.ref == 'refs/heads/main'
        run: |
          git_diff="$(git diff --ignore-cr-at-eol dist/)"
          if [ -n "$git_diff" ]; then
            echo "::error::Drift detected in dist/ directory"
            echo "$git_diff"
            exit 1
          fi
