name: Server > Build

on:
  push:
    branches: ['**']
    paths:
      - server/**
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: &working-directory server
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: *working-directory
          sparse-checkout-cone-mode: false

      # build the action
      - uses: jdx/mise-action@v3
        with:
          working_directory: *working-directory

      - run: npm ci
      - run: npm run test
      - run: npm run build

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          workingDirectory: server/deployments/cloudflare
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
