name: Server > Build

on:
  push:
    branches: [ '**' ]
    paths:
      - server/**
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: &working-directory server
    steps:
      - uses: actions/checkout@v6
        with:
          sparse-checkout: *working-directory
          sparse-checkout-cone-mode: false

      # build the action
      - uses: jdx/mise-action@v3
        with:
          working_directory: *working-directory

      - run: npm ci
      - run: npm run test
      - run: npm run build:all

      # Verify that the dist/ is up-to-date
      - name: Verify Server artifacts
        if: github.ref == 'refs/heads/main'
        run: |
          git_diff="$(git diff --ignore-cr-at-eol dist/)"
          if [ -n "$git_diff" ]; then
            echo "::error::Drift detected in dist/ directory"
            echo "$git_diff"
            exit 1
          fi

  cloudflare-deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
      - uses: jdx/mise-action@v3
        with:
          working_directory: server
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          workingDirectory: server/deployments/cloudflare
          wranglerVersion: 4.60.0
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}

#  koyeb-trigger-redeploy:
#    needs: build
#    if: github.ref == 'refs/heads/main'
#    runs-on: ubuntu-latest
#    timeout-minutes: 60
#    steps:
#      - run: |-
#          KOYEB_AUTH_HEADER="Authorization: Bearer ${KOYEB_API_KEY}"
#          SERVICE_NAME='github-actions-access-token'
#          # Determine Service ID
#          SERVICE_ID="$(
#            curl --request GET --header "$KOYEB_AUTH_HEADER" \
#              "https://app.koyeb.com/v1/services?name=${SERVICE_NAME}" \
#            | jq ".services.[] | select(.name=\"${SERVICE_NAME}\").id" \
#                --raw-output
#          )"
#          # Trigger redeploy
#          curl --request POST --header "$KOYEB_AUTH_HEADER" \
#            "https://app.koyeb.com/v1/services/${SERVICE_ID}/redeploy"
#        env:
#          KOYEB_API_KEY: ${{ secrets.KOYEB_API_KEY }}
